.hoatdong1 ul {
 
 
    width: 100%;
    
    text-decoration: none;
    list-style: none;
    padding-left:  100px;
    text-decoration: none;
    padding-bottom: 20px;
    padding-top: 10px;
    
    
   }
   .hoatdong1 ul li a{
    text-decoration: none;
    color: rgb(54, 21, 199);
    font-weight: 700;
    
   }
   .hoatdong2 ul{
    
    
    width: 100%;
    padding-left:  100px;
    list-style: none;
    padding-bottom: 20px;
    padding-top: 10px;
   }
   .hoatdong2 ul li a{
    text-decoration: none;
    color: rgb(54, 21, 199);
    font-weight: 700;
   }
   .hoatdong1 ul li a:hover{
       color: orangered;
   }
   .hoatdong2 ul li a:hover{
    color: orangered;
   }